<!DOCTYPE html>
<html>
<head>
    <title>Ой, страница не найдена!</title>
    <style>
        body {
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
            text-align: center;
        }

        h1 {
            font-size: 50px;
            margin-top: 50px;
        }

        p {
            font-size: 20px;
            margin: 20px 0;
        }

        a {
            text-decoration: none;
            color: #000;
            font-weight: bold;
        }
    </style>
</head>
<body>
<h1>Ой, страница не найдена!</h1>
<p>Похоже, вы заблудились. Попробуйте вернуться на главную страницу или воспользоваться поиском.</p>
<a href="/home">На главную</a>
</body>
</html>