<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Национальная библиотека Беларуси</title>
    <link rel="stylesheet" th:href="@{/css/mainstyle.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
</head>
<body>
<header>
    <div class="header-content">
        <a th:href="@{/home}">
            <div class="logo"></div>
            <h1>ЭЛЕКТРОННЫЙ КАТАЛОГ <p>НАЦИОНАЛЬНОЙ БИБЛИОТЕКИ БЕЛАРУСИ</p></h1>
        </a>
    </div>
    <div class="header-menu">
        <ul>
            <li th:if="${loggedInUser != null and loggedInUser.role.name == 'Admin'}"><a th:href="@{/accounts}">Пользователи</a></li>
            <li th:if="${loggedInUser != null}"><a th:href="@{/person}">Формуляр читателя</a></li>
            <li th:if="${loggedInUser != null}"><a th:href="@{/logout}">Выход</a></li>
            <li th:if="${loggedInUser == null}"><a th:href="@{/login}">Вход</a></li>
        </ul>
    </div>
</header>
<div class="container">
    <div class="button-container">
        <div class="search-container">
            <form th:action="@{/search}" method="get">
                <div class="search-bar">
                    <input type="text" name="query" placeholder="Введите текст для поиска">
                </div>
                <div class="dropdown">
                    <select name="field">
                        <option value="all">Все поля</option>
                        <option value="author">Автор</option>
                        <option value="title">Название</option>
                    </select>
                </div>
                <div class="button">
                    <button type="submit">Найти</button>
                </div>
            </form>
        </div>
        <div class="add-book-container">
            <div th:if="${loggedInUser != null and loggedInUser.role.name == 'Admin'}" class="button">
                <form th:action="@{/addCopies}" method="get">
                    <input type="hidden" name="bookId" th:value="${book.id}">
                    <button type="submit" class="edit-btn">Добавить экземпляр</button>
                </form>
            </div>
        </div>
    </div>

    <h2>Описание</h2>
    <div class="table">
        <table>
            <tr>
                <th>Поле</th>
                <th>Значение</th>
            </tr>
            <tr>
                <td>Название</td>
                <td th:text="${book.name}"></td>
            </tr>
            <tr>
                <td>Автор</td>
                <td th:text="${book.author.name}"></td>
            </tr>
            <tr>
                <td>Год</td>
                <td th:text="${book.year}"></td>
            </tr>
            <tr>
                <td>Страниц</td>
                <td th:text="${book.pages}"></td>
            </tr>
            <tr>
                <td>Издательство</td>
                <td th:text="${book.publish.name}"></td>
            </tr>
            <tr>
                <td>Язык</td>
                <td th:text="${book.language.name}"></td>
            </tr>
            <tr>
                <td>Описание</td>
                <td th:text="${book.description}"></td>
            </tr>
        </table>
    </div>
    <h2>Экземпляры</h2>
    <div class="table">
        <table>
            <thead>
            <tr>
                <th>Шифр</th>
                <th>Место нахождения</th>
                <th>Статус</th>
                <th th:if="${loggedInUser != null}">Заказать</th>
                <th th:if="${loggedInUser != null and loggedInUser.role.name == 'Admin'}">Удалить</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="copy : ${copiesList}">
                <td th:text="${copy.cipher}"></td>
                <td th:text="${copy.location.place}"></td>
                <td th:text="${copy.statusCopies.status}"></td>
                <td th:if="${loggedInUser != null}">
                    <form th:action="${'Свободен'.equals(copy.statusCopies.status) ? '/orderBook' : '/queueBook'}" method="post">
                        <input type="hidden" name="copiesId" th:value="${copy.idCopies}">
                        <input type="hidden" name="bookId" th:value="${book.id}">
                        <button type="submit" th:text="${'Свободен'.equals(copy.statusCopies.status) ? 'Заказать' : 'В очередь'}"></button>
                    </form>
                </td>
                <td th:if="${loggedInUser != null and loggedInUser.role.name == 'Admin'}">
                    <form th:action="@{/deleteCopie}" method="post">
                        <input type="hidden" name="copiesId" th:value="${copy.idCopies}">
                        <button type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="button-container">
        <div class="button-group">
            <div th:if="${loggedInUser != null and loggedInUser.role.name == 'Admin'}" class="button">
                <form th:action="@{/deleteBook}" method="post">
                    <input type="hidden" name="bookId" th:value="${book.id}">
                    <button type="submit">Удалить</button>
                </form>
            </div>
            <div th:if="${loggedInUser != null}">
                <form th:action="@{/addFavorite}" method="post">
                    <input type="hidden" name="bookId" th:value="${book.id}">
                    <button class="button" type="submit">Добавить в избранное</button>
                </form>
            </div>
            <div th:if="${loggedInUser != null and loggedInUser.role.name == 'Admin'}" class="button">
                <form th:action="@{/changeBook}" method="get">
                    <input type="hidden" name="bookId" th:value="${book.id}">
                    <button type="submit" class="edit-btn">Редактировать</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
