<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Национальная библиотека Беларуси</title>
    <link rel="stylesheet" href="css/mainstyle.css">
    <link rel="stylesheet" href="css/table.css">
</head>
<body>
    <header>
        <div class="header-content" >
            <a href="C:/Users/vange/OneDrive/Рабочий стол/GraduationProject/Site/Main.html">
            <div class="logo"></div>
            <h1>ЭЛЕКТРОННЫЙ КАТАЛОГ <p>НАЦИОНАЛЬНОЙ БИБЛИОТЕКИ БЕЛАРУСИ</h1>
            </a>
        </div>
        <div class="header-menu">
            <ul>
                <li><a href="C:/Users/vange/OneDrive/Рабочий стол/GraduationProject/Site/Person.html">Личный кабинет</a></li>
                <li><a href="C:/Users/vange/OneDrive/Рабочий стол/GraduationProject/Site/Authorization.html">Вход</a></li>
            </ul>    
        </div> 
    </header>
    <div class="container">
        <div class="search-bar">
            <input type="text" placeholder="Введите текст для поиска">
        </div>
        <div class="dropdown">
            <select>
                <option>Все поля</option>
                <option>Автор</option>
                <option>Название</option>
            </select>
        </div>
        <div class="button">
            <form action="C:/Users/vange/OneDrive/Рабочий стол/GraduationProject/Site/Catalog.html">
                <button>Найти</button>
            </form>
        </div>
        <div class = "status-bar">
            <p>Пушкин
        </div>
        <div class = "table">
            <table>
                <tr>
                    <th>Выбрать</th>
                    <th>Описание</th>
                    <th>Добавить в избранное</th>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td><a href="C:/Users/vange/OneDrive/Рабочий стол/GraduationProject/Site/Book.html">Sample Text 1</a></td>
                    <td><button>Добавить</button></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>