<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Национальная библиотека Беларуси</title>
    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet" href="css/person.css">
    <link rel="stylesheet" href="css/mainstyle.css">
</head>
<body>
<header>
    <div class="header-content">
        <a th:href="@{/home}">
            <div class="logo"></div>
            <h1>ЭЛЕКТРОННЫЙ КАТАЛОГ <p>НАЦИОНАЛЬНОЙ БИБЛИОТЕКИ БЕЛАРУСИ</p></h1>
        </a>
    </div>
    <div class="header-menu">
        <ul>
            <li th:if="${loggedInUser != null and loggedInUser.role.name == 'Admin'}"><a th:href="@{/accounts}">Пользователи</a></li>
            <li th:if="${loggedInUser != null}"><a th:href="@{/person}">Личный кабинет</a></li>
            <li th:if="${loggedInUser != null}"><a th:href="@{/logout}">Выход</a></li>
            <li th:if="${loggedInUser == null}"><a th:href="@{/login}">Вход</a></li>
        </ul>
    </div>
</header>
<div class="container">
    <form th:action="@{/search}" method="get">
        <div class="search-bar">
            <input type="text" name="query" placeholder="Введите текст для поиска">
        </div>
        <div class="dropdown">
            <select name="field">
                <option value="all">Все поля</option>
                <option value="author">Автор</option>
                <option value="title">Название</option>
            </select>
        </div>
        <div class="button">
            <button type="submit">Найти</button>
        </div>
    </form>
</div>
<div class="main-container">
    <div class="content">
        <div class="table" id="content" >

            <!-- Content will be loaded here -->
            </div>
        </div>

    <div class="sidebar">
        <button onclick="showContent('profile')">Профиль</button>
        <button onclick="showContent('favorites')">Избранные</button>
        <button onclick="showContent('orders')">Заказы</button>
        <button onclick="showContent('orderHistory')">История заказов</button>
        <button onclick="showContent('queues')">Очередь</button>
    </div>
</div>
<script>
    function showContent(section) {
        let content = '';
        switch(section) {
            case 'favorites':
                fetch('/getFavorites')
                    .then(response => response.json())
                    .then(data => {
                        content = '<h2>Избранное</h2>' +
                            '<table>' +
                            '<tr><th>Название книги</th><th>Действие</th></tr>';
                        data.favorites.forEach(favorite => {
                            content += '<tr><td>' + favorite.bookName + '</td>' +
                                '<td><button onclick="removeFromFavorites(' + favorite.id + ')">Убрать из избранного</button></td></tr>';
                        });
                        content += '</table>';
                        document.getElementById('content').innerHTML = content;
                    })
                    .catch(error => console.error('Ошибка получения избранных книг:', error));
                break;
            case 'profile':
                fetch('/getUserDetails')
                    .then(response => response.json())
                    .then(data => {
                        // Получаем информацию о пользователе
                        const loggedInUser = data.user;
                        // Маппинг русских названий полей
                        const fieldNames = {
                            'login': 'Логин',
                            'email': 'Электронная почта',
                            'fio': 'ФИО',
                            'date': 'Дата рождения',
                            'phoneNumber': 'Номер телефона',
                            'numberDocument': 'Номер документа',
                            'role': 'Роль',
                            'description': 'Описание'
                        };
                        // Формируем HTML для таблицы
                        content = '<h2>Профиль</h2>' +
                            '<table>'+
                            '<tr><th>Поле</th><th>Значение</th></tr>';;
                        // Перебираем свойства объекта пользователя и добавляем их в таблицу
                        for (const key in loggedInUser) {
                            // Пропускаем вывод ID пользователя и confirmPassword
                            if (key === 'id' || key === 'confirmPassword' || key === 'password') continue;
                            // Получаем русское название поля
                            const russianFieldName = fieldNames[key] || key;
                            // Обработка поля role
                            if (key === 'role') {
                                content += '<tr><td>' + russianFieldName + '</td><td>' + loggedInUser[key].name + '</td></tr>';
                            } else {
                                // Добавляем строку в таблицу с русским названием поля и его значением
                                content += '<tr><td>' + russianFieldName + '</td><td>' + loggedInUser[key] + '</td></tr>';
                            }
                        }
                        content += '</table>';
                        // Обновляем содержимое элемента 'content' на странице
                        document.getElementById('content').innerHTML = content;
                    })
                    .catch(error => console.error('Ошибка получения информации о пользователе:', error));
                break;
            case 'orders':
                fetch('/getOrders')
                    .then(response => response.json())
                    .then(data => {
                        content = '<h2>Заказы</h2>' +
                            '<table>' +
                            '<tr><th>Название книги</th><th>Шифр экземпляра</th><th>Дата выдачи</th><th>Дата возврата</th><th>Действие</th></tr>';
                        data.orders.forEach(order => {
                            content += '<tr><td>' + order.bookName + '</td>' +
                                '<td>' + order.cipher + '</td>' +
                                '<td>' + order.issueDate + '</td>' +
                                '<td>' + order.returnDate + '</td>' +
                                '<td><button onclick="removeOrder(' + order.id + ')">Убрать заказ</button></td></tr>';
                        });
                        content += '</table>';
                        document.getElementById('content').innerHTML = content;
                    })
                    .catch(error => console.error('Ошибка получения заказов:', error));
                break;
            case 'orderHistory':
                fetch('/getOrderHistory')
                    .then(response => response.json())
                    .then(data => {
                        content = '<h2>История заказов</h2>' +
                            '<table>' +
                            '<tr><th>Название книги</th><th>Шифр экземпляра</th><th>Дата выдачи</th><th>Дата возврата</th></tr>';
                        data.orderHistory.forEach(order => {
                            content += '<tr><td>' + order.bookName + '</td>' +
                                '<td>' + order.cipher + '</td>' +
                                '<td>' + order.issueDate + '</td>' +
                                '<td>' + order.returnDate + '</td></tr>';
                        });
                        content += '</table>';
                        document.getElementById('content').innerHTML = content;
                    })
                    .catch(error => console.error('Ошибка получения истории заказов:', error));
                break;

            case 'queues':
                fetch('/getQueue')
                    .then(response => response.json())
                    .then(data => {
                        content = '<h2>Очередь</h2>' +
                            '<table>' +
                            '<tr><th>Название книги</th><th>Номер в очереди</th><th>Действие</th></tr>';
                        data.queue.forEach(queueItem => {
                            content += '<tr><td>' + queueItem.bookName + '</td>' +
                                '<td>' + queueItem.queueNumber + '</td>' +
                                '<td><button onclick="leaveQueue(' + queueItem.queueId + ')">Уйти из очереди</button></td></tr>';
                        });
                        content += '</table>';
                        document.getElementById('content').innerHTML = content;
                    })
                    .catch(error => console.error('Ошибка получения очереди:', error));
                break;
        }
    }
    function removeFromFavorites(favoriteId) {
        fetch('/removeFromFavorites', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id: favoriteId })
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    showContent('favorites');
                }
            })
            .catch(error => console.error('Ошибка удаления из избранного:', error));
    }
    function removeOrder(orderId) {
        fetch('/removeOrder', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id: orderId })
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    showContent('orders');
                }
            })
            .catch(error => console.error('Ошибка удаления заказа:', error));
    }
    function leaveQueue(queueId) {
        fetch('/leaveQueue', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id: queueId })
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    showContent('queues');
                }
            })
            .catch(error => console.error('Ошибка выхода из очереди:', error));
    }
    </script>
</body>
</html>