<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Национальная библиотека Беларуси</title>
    <link rel="stylesheet" th:href="@{css/table.css}">
    <link rel="stylesheet" th:href="@{css/mainstyle.css}">
</head>
<body>
<header>
    <div class="header-content">
        <a th:href="@{/home}">
            <div class="logo"></div>
            <h1>ЭЛЕКТРОННЫЙ КАТАЛОГ <p>НАЦИОНАЛЬНОЙ БИБЛИОТЕКИ БЕЛАРУСИ</p></h1>
        </a>
    </div>
    <div class="header-menu">
        <ul>
            <li th:if="${loggedInUser != null and loggedInUser.role.name == 'Admin'}"><a th:href="@{/accounts}">Пользователи</a></li>
            <li th:if="${loggedInUser != null}"><a th:href="@{/person}">Формуляр читателя</a></li>
            <li th:if="${loggedInUser != null}"><a th:href="@{/logout}">Выход</a></li>
            <li th:if="${loggedInUser == null}"><a th:href="@{/login}">Вход</a></li>
        </ul>
    </div>
</header>
<div class="container">
    <div class="button-container">
        <div class="search-container">
            <form th:action="@{/search}" method="get" onsubmit="return validateSearch()">
                <div class="search-bar">
                    <input type="text" id="query" name="query" placeholder="Введите текст для поиска книги">
                </div>
                <div class="dropdown">
                    <select name="field">
                        <option value="all">Все поля</option>
                        <option value="author">Автор</option>
                        <option value="title">Название</option>
                        <option value="category">Категория</option>
                    </select>
                </div>
                <div class="button">
                    <button type="submit">Найти</button>
                </div>
            </form>
        </div>
        <div class="add-book-container">
                <form th:action="@{/register}" method="get">
                    <div class="button" th:if="${loggedInUser != null and loggedInUser.role.name == 'Admin'}">
                        <button type="submit">Добавить пользователя</button>
                    </div>
                </form>
        </div>
    </div>
        <div class="status-bar">
        <p th:text="'Результаты поиска: ' + ${users.size()}"></p>
    </div>
    <div class="table">
        <table>
            <thead>
            <tr>
                <th th:if="${loggedInUser != null and loggedInUser.role.name == 'Admin'}">Удалить</th>
                <th>Пользователь</th>
                <th>Логин</th>
                <th>Пароль</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td>
                    <form th:action="@{/deleteUser}" method="post">
                        <input type="hidden" name="userId" th:value="${user.id}">
                        <button type="submit" class="delete-btn">Удалить</button>
                    </form>
                </td>
                <td th:text="${user.FIO} + ', ' + ${user.date}+ ', ' +${user.phoneNumber} + ', ' +${user.numberDocument}"></td>
                <td th:text="${user.login}"></td>
                <td th:text="${user.password}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    function validateSearch() {
        const query = document.getElementById('query').value.trim();
        if (query === "") {
            alert("Пожалуйста, введите текст для поиска.");
            return false;
        }
        return true;
    }
</script>
</body>
</html>
